body {
    background-image: url("./assets/images/beach2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
    
}

#main-header {
    margin-top: 35px;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    padding-top: 60px;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

h3 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

h4 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h5 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#bio {
    text-align: center;
    font-size: 55px;
    font-family: 'Oswald', sans-serif;
    color: black;
    width: 100%;
    background: white;
    opacity: 0.85 ;
    padding-top: 100px;
    padding-bottom: 100px;
    
}


/* controls the background */
.portfolio-wrapper {
    margin-top: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background: white;
    opacity: 0.85 ; 
}

#portfolio-header {
    font-size: 65px;
    padding-bottom: 10px;
    padding-top: 250px;
}



/* NEW IMAGES */
.image-container {
    display: block;
    text-align: center;
    padding-left: 125px;
    float: left;
}

#image {
    border-radius: 50%;
    border-style: solid;
}


#image-text {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}


#full-portfolio-link {
    clear: both;
    text-align: center;
    padding-top: 60px;
}

.resume-wrapper {
    width: 100%;
    background: white;
    opacity: 0.85 ; 
    margin-top: 50px;
}


#avatar-image {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
    margin-top: 35px;
    
}

.contact-container {
    background-color: gray;
    width: 100%;
}


.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about-button, .portfolio-button,
.resume-button, .contact-button {
    font-size: 20px;
    color: black;
    padding: 50px;
}

.down-section {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#view-full {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: gold;
}

#down-arrow {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 60px;   
}

#up-arrow {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#line {
    border-bottom: solid;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding-top: 30px;
}


.portfolio-image{

    float: left;
    margin: 10px;
    margin-left: 75px;
    margin-right: 75px;
    text-align: center;
    display: block;
}

#portfolio-link {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;

}

#port-img {
    border-radius: 50%;
    border-style: solid;
}

a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}


#contact-header {
    clear: both;
    padding-top: 60px;
    font-size: 65px;
    padding-bottom: 50px;
    color: white;
}

.contact-container {
    margin-top: 125px;
}

#say-thanks, #contact-info {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

#contact-info {
    padding-bottom: 15px;
}

#feedback-box {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
    width: 250px;
    height: 20px;
}

#submit-button {
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-bottom: 25px;
}

.contact-icons {
    text-align: center;
	color: #d3d3d3;
    font-size: 12px; 
}

a.fa-github-square {

    width: 52px;
    text-align:center;
}

a.fa-facebook-square {

    width: 52px;
    text-align:center;
}

a.fa-linkedin-square {

    width: 52px;
    text-align:center;
}

.txt-rotate {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

#resume-header {
    clear: both;
    padding-top: 70px;
    font-size: 65px;
    padding-top: 170px;
    padding-top: 275px;
}

#certification-img, #highschool-img,
#yl-img {
    border-radius: 50%;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#high-school {
    padding-top: 30px;
    font-family: 'Oswald', sans-serif;
}

#work-header {
    padding-top: 35px;
    font-family: 'Oswald', sans-serif;
}

#work-year, #college-school-year,
#high-school-year {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#contact-info {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.feedback-form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 50px;
}

#education-header {
    font-size: 40px;
    padding-bottom: 15px;
    text-decoration: underline;
    padding-bottom: 45px;
}

#work-header {
    font-size: 40px;
    padding-bottom: 15px;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 25px;
}

#education-school {
    color: #ca0714;
}

#high-school {
    color: #6a4088
}

@media screen and (max-width: 415px) {

    body {
        background-image: url("./assets/images/golfCourse.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 1800px;
        width: 375px;
    }

    #avatar-image {
        display: block;
        margin-left: 40px;
        margin-right: auto;
    }

    #main-header {
        padding-left: 30px;
    }

    #bio {
        margin-left: 5px;
    }

    #portfolio-header {
        margin-left: 15px;
    }

    .portfolio-image {
        margin-left: 110px;
    }

    .txt-rotate {
        margin-left: 10px;
    }

    .feedback-form {
        width: 300px;
    }

    .contact-container {
        width: 375px;
    }

    .about-button, .portfolio-button,
    .resume-button, .contact-button {
    font-size: 20px;
    color: black;
    padding: 15px;
    }

}

